<h1>
  Game of Life Implementation - Jim Jones
</h1>

<hr>

<h3>
  New Game
</h3>

<%= form_for(@game) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-default' %>
<% end %>
